[run]
source = pints
omit = 
    pints/tests/*
    pints/functionaltests/*

[report]
exclude_lines =
    pragma: no cover
    pragma: no linux cover
    pragma: no python 3 cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    except ImportError:
    if False:
    if __name__ == .__main__.:
