[flake8]
exclude=
    .git,
    problems,
    __init__.py,
ignore=
    # Block comment should start with '# '
    # Not if it's a commented out line
    E265,

    # Blank line at end of file
    # This increases readability
    W391,

    # Line break before binary operator
    # This is now actually advised in pep8
    W503,

