# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Setuptools files
*.egg-info

# Jupyter checkpoints
.ipynb_checkpoints/

# Jupyter stan build files
examples/interfaces/build

# Apple stuff
.DS_Store

# R files
.Rhistory
.coverage

# vscode
.vscode

# pycharm
.idea

# Studies have their own repo now
studies

# Virtual environments
venv/*
env/*

# Build artifacts
build/*
dist/*
