#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Myokit IDE
Name[en_US]=Myokit IDE
Comment=Edits Myokit mmt files and runs simulations
Exec=/home/michael/dev/myokit/myo ide %f
Icon=/home/michael/dev/myokit/myokit/_bin/gui/icon-ide.png
MimeType=text/x-myokit;
