#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=DataLog Viewer
Name[en_US]=DataLog Viewer
Comment=Viewer for Myokit DataLog files
Exec=/home/michael/dev/myokit/myo log %f
#Icon=/home/michael/dev/myokit/myokit/_bin/gui/icon-datalog-viewer.png
MimeType=text/x-abf;text/x-wcp;
