#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Graph Data Extractor
Name[en_US]=Graph Data Extractor
Comment=Extracts data from graphs
Exec=/home/michael/dev/myokit/myo gde %f
Icon=/home/michael/dev/myokit/myokit/_bin/gui/icon-gde.png
MimeType=text/x-myokit-gde;
