name: Notebooks

on:
  schedule:
    # 4am on monday (minute, hour, day, month, day-of-the-week)
    - cron:  '0 4 * * 1'

jobs:

  build-and-test:
    name: Notebooks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: install pints
        run: |
          python --version
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install .
          python -m pip install .[dev]

      - name: run jupyter notebooks
        run: |
          python run-tests.py --books
