name: Unit tests on multiple operating systems

on:
  push:
    branches:
      - master
      - i1074-gh-actions
  pull_request:
    branches:
      - '**'

jobs:

  build-and-test:
    name: unit test (OS coverage)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v1

      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
          architecture: x64

      - name: install pints
        run: |
          python --version
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install .

      - name: run unit tests
        run: |
          python run-tests.py --unit
